<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
	  <!--<add name="proveedores2ConnectionString" connectionString="Data Source=localhost;Database=proveedoresAlimQ1000;User ID=sa;Password=808estoylistO" providerName="System.Data.SqlClient"/>-->
	  <add name="proveedores2ConnectionString" connectionString="Data Source=localhost;Database=proveedoresTracQ;User ID=sa;Password=808estoylistO" providerName="System.Data.SqlClient"/>
	  <!--<add name="proveedores2ConnectionString" connectionString="Data Source=localhost;Database=proveedoresSanJaQ;User ID=sa;Password=808estoylistO" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <customErrors mode="On" defaultRedirect="errorGenerico.html">
      <error statusCode="403" redirect="securityError.html"/>
      <error statusCode="404" redirect="404.html"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms name="appNameAuth" path="/" loginUrl="Default.aspx" defaultUrl="portal/datosMaestros.aspx" protection="All" cookieless="UseCookies"/>
      <!--<forms name="appNameAuth" path="/" loginUrl="index.aspx" protection="All" cookieless="UseCookies"/>-->
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--<authentication mode="Forms"> ~
      <forms loginUrl="index.aspx" timeout="2880" />
    </authentication>
    <authorization>
      <deny users="?"></deny>
    </authorization>-->
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" timeout="10"/>
      </providers>
    </sessionState>
    <identity impersonate="false"/>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConsultaCFDIService">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IConsultaCFDIService1">
          <security mode="Transport"/>
        </binding>
        <binding name="ZWS_UPROVEEDORESSoapBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService" contract="IConsultaCFDIService" name="BasicHttpBinding_IConsultaCFDIService"/>
      <endpoint address="https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService1" contract="SrvSATConsultaCFDI.IConsultaCFDIService" name="BasicHttpBinding_IConsultaCFDIService1"/>
      <endpoint address="http://ecc6:8004/sap/bc/srt/rfc/sap/ZWS_UPROVEEDORES?sap-client=800" binding="basicHttpBinding" bindingConfiguration="ZWS_UPROVEEDORESSoapBinding" contract="SrvSAPUProveedores.ZWS_UPROVEEDORES" name="ZWS_UPROVEEDORESSoapBinding"/>
    </client>
  </system.serviceModel>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
	<appSettings>
		<add key="noValidaSat" value=" " />
	</appSettings>
</configuration>