@{
    ViewBag.Title = "Iniciar sesión";
}

<div class="form-signin">
    <img class="mb-4" src="/Images/tracusa_logo.png" alt="" width="300" height="72">
    <h1 class="h3 mb-3 font-weight-normal" align="center">Iniciar sesión</h1>

    @using (Html.BeginForm("SingIn", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.TextBox("user", "", new { @class = "form-control", @placeholder = "Usuario" })
        @Html.TextBox("password", "", new { @class = "form-control", @placeholder = "Contraseña" }) <br/>

        @Html.ActionLink("Entrar", "UploadFile", "Portal", new { area = "" }, new { @class = "btn btn-lg btn-primary btn-block" })

        @ViewBag.Message

    }

</div>